@font-face { 
    font-family: "TTLakes"; 
    src: url(./fonts/TTLakes-Regular.woff2); 
    font-weight: 400; 
    font-style: normal; 
    font-display: swap; 
} 
 
@font-face { 
    font-family: "TTLakes"; 
    src: url(./fonts/TTLakes-Medium.woff2); 
    font-weight: 500; 
    font-style: normal; 
    font-display: swap; 
} 
 
@font-face { 
    font-family: "TTLakes"; 
    src: url(./fonts/TTLakes-Bold.woff2); 
    font-weight: 700; 
    font-style: normal; 
    font-display: swap; 
} 
* {
    padding: 0px;
    margin: 0px;
    border: none;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  aside, nav, footer, header, section, main {
    display: block;
  }

body {
    font-family: 'TTLakes';
    font-size: 14px;
    font-weight: 500;
    color: #1B1C21;
}

.header-container {
    padding: 0 16px;
}

.header__menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 87px;    
}

.header__left-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__right-container {
    display: flex;
    justify-content: space-between;
    align-items: center;    
}

.action-button, .header__logo, .header__divider {    
    border: none;
    background: none;    
}

.action-button {
    width: 40px;
    height: 40px;
    
}

.header__burger {   
    background-image: url("img/burger.svg");
    background-position: center center;
}

.header__repair {
    background-image: url("img/repair.svg");
    background-position: center center;
}

.header__divider {
    background-image: url("img/divider.svg"); 
    width: 2px;
    height: 32px;
}

.header__checkstatus {
    background-image: url("img/checkstatus.svg");
    background-position: center center;
}

.main__container {
    padding: 0 16px;
    margin-top: 24px;
}

.main__services {
    margin-bottom: 16px;
}

main {
    border: 1px solid #B8FFEC;
    border-bottom: none;
    border-left: none;
    border-right: none;
    background-color: #F8F8F8;
    font-weight: 400px;
}

.main__links {
    display: flex;
    list-style-type: none;
    flex-flow: row nowrap;
    flex-wrap: nowrap;
    overflow-x: auto;   
}

.link {
    display: flex;
    padding: 0px 15px;
    font-size: 16px;
    color: #7E7E82;
    text-decoration: none;
    border-radius: 6px;
    align-items: center;
    
    background: none;
    height: 40px;
    white-space: nowrap; 
    border: 1px solid transparent;      
}


.link:hover  {
    text-decoration: none;
    border: 2px solid #B8FFEC;
    background-color: #ffffff;
}

h1 {
    display: flex;
    gap: 16px;      
}

h1::before {
    content: "";
    width: 4px;
    height: 40px;
    display: flex;
    background-image: url("img/highlight.svg");
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -16px;
  }

  .about-company__company-signboard {    
    background-image: url("img/_MG_3223.svg") ;
    background-repeat: no-repeat;
    margin-left: -16px;
    margin-right: -16px;
    background-size: cover;
    width: 100%;
    aspect-ratio: 16/9;
        
}



.about-company__text {
    display: flex;
    flex-wrap: wrap;
}

.about-company__read-more {
    padding: 0;
    border: none;
    background: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "TTLakes";
    font-weight: 500;
    font-size: 16px;
}

.about-company__read-more:before {
    content: "";
    width: 24px;
    height: 24px;
    display: flex;
    background-image: url("img/expand.svg");
    background-repeat: no-repeat;
    background-position: center;
}



@media screen and (min-width: 320px) and (max-width: 767px) {
    .header__divider_hidden, .header__call, .header__message, .header__contacts, .desktope-header__links {
        display: none;
        }
    .header__left-container {
        gap: 16px;
        }
    .header__right-container {
        gap: 16px;                  
        }
    .about-company {
        margin-top: 24px;
        }
    .about-company__read-more {
       padding: 16px 0;
    }
    
    ul {
        margin-top: 24px;
    }
    .about-company__description {
        height: 92px;
        overflow: hidden;
    }
   
}

@media screen and (min-width: 768px) and (max-width: 1119px) {    
    .desktope-header__links {
        display: none;
    }
    .header__divider_hidden {
        background-image: url("img/divider.svg"); 
        width: 2px;
        height: 32px;
    }
    .header__call, .header__message, .header__contacts {
        width: 40px;
        height: 40px;
        margin: 0 auto;
    }
    .header__call {
        background-image: url("img/call.svg");
    }
    .header__message {
        background-image: url("img/chat.svg");
    }
    .header__contacts {
        background-image: url("img/profile.svg");
    }    
    .header__left-container {
        display: flex;
        gap: 20px;
        margin-left: 9px;        
    }
    .header__right-container {
        display: flex;
        gap: 16px;
        margin-right: 24px;  
    }
    .main__container {
        padding: 0 24px;
        margin: 24px 0;
    }
   
    h1::before {
        margin-left: -24px;
    }
    ul {
        margin-top: 32px;
  
    }
    

    .about-company { 
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        margin-bottom: 32px;
        gap: 48px;
        
        }
    .about-company__description {
        height: 160px;
        overflow: hidden;
        }
    .about-company__text {
        
        flex-basis: 46%;
    }
   .about-company__company-signboard {
    margin: 0;
    flex-basis: 54%;
   }
   .about-company__read-more {
    padding: 16px 0;
 }
   
}

@media screen and (min-width: 1120px)  {
    .header__menu {
        display: none;
    }
    .desktope-header {
        display: flex;
        margin-left: 32px;
        margin-right: 32px;
        align-items: center;
        justify-content:space-between;
    }
    .desktope-header__links {
        display: flex;
        align-items: center;
        justify-content:space-between;
        color: #1B1C21;
        font-size: 16px;
        list-style-type: none;
        text-decoration: none;
        text-align: center;
        vertical-align: middle;
             
    }

    .desktope-header__repair, .desktope-header__checkstatus {
        width: 40px;
        height: 40px;
        margin-left: 8px;        
    }
    .desktope-header__repair {
        margin-right: 32px;
    }
    .desktope-header__icons {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }

    .main__container {
        padding: 0 32px;
        margin: 32px 0;
    }
   
    h1::before {
        margin-left: -16px;
    }
    ul {
        
        margin-top: 8px;
    }
    .main__links {
        flex-wrap: wrap;
    }

    .about-company { 
        display: flex;
        flex-direction: row;
        margin-top: 32px;
        margin-bottom: 32px;
        gap: 48px;
        
        }
    .about-company__description {
        height: 160px;
        overflow: hidden;
        }
    .about-company__text {
        
        flex-basis: 50%;
    }
   .about-company__company-signboard {
    margin: 0;
    flex-basis: 50%;
   }
   .about-company__read-more {
    padding: 16px 0;
 }

 h1 {
    padding-left: 16    px;
 }

}




